<table border="1">
    <thead>
        <tr>
            <th colspan="2">
                Employee Details
            </th>
        </tr>
    </thead>
    <tbody *ngIf="employees">
        <tr>
            <td>Code:</td>
            <td>{{employees.code}}</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td>{{employees.name}}</td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>{{employees.gender}}</td>
        </tr>
        <tr>
            <td>Annual Salary:</td>
            <td>{{employees.annualSalary}}</td>
        </tr>
        <tr>
            <td>DOB:</td>
            <td>{{employees.dateOfBirth}}</td>
        </tr>
    </tbody>
    <tr *ngIf="!employees">
        <td align="center" colspan="2">
            {{statusMessage}}
        </td>
    </tr>
</table>
<!--<div *ngIf="!employees">
    {{statusMessage}}
</div>-->
<br />
<table>
    <tr>
        <td align="center" style="margin-top:5px;"><input type="button" class="btn btn-primary" value="Back to Employee List" (click)='onBackButtonBind()' /></td>
    </tr>
    <br/>
    <tr  *ngIf='!Subscription.closed'>
        <td align="center"><input type="button" class="btn btn-primary" value="Stop Retry" (click)='onStopRetryButtonBind()' /></td>
    </tr>
</table>