table, td {
    border: 1px solid black;
    margin: 0 auto;
    width: 40%;
}
th{
    background-color: #808080;
    border: 2px solid black;
    text-align:center
}

div {
     position : relative;    
    width    : 200px;
    height   : 200px;
    left     : 50%;
    top      : 32%;
    margin-left : -100px; /* half of the width  */
    margin-top  : -100px; /* half of the height */
}